<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>

	<!-- Daily rolling file appender- Rollover at the first day of each week. 
		The first day of the week depends on the locale. 
	<appender name="DRFA" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${catalina.base}/logs/zorba.log" />
		<param name="datePattern" value="'.'yyyy-ww" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %C{6} (%F:%L) - %m%n" />
		</layout>
	</appender>
-->
	<!-- Application Loggers -->
	<logger name="com.bbytes.zorba.jobworker.impl">
		<level value="debug" />
	</logger>
	<logger name="com.bbytes.zorba.messaging">
		<level value="debug" />
	</logger>
	    

	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="error" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="error" />
	</logger>

	<logger name="org.springframework.context">
		<level value="error" />
	</logger>

	<logger name="org.springframework.web">
		<level value="error" />
	</logger>

	<logger name="org.springframework.transaction">
		<level value="error" />
	</logger>
	<!-- Root Logger -->
	<root>
		<priority value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="DRFA" />
	</root>
</log4j:configuration>
